body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font: Arial;
    background-color: wheat;
}

.container {
    max-width: 600px;
    padding: 20px;
    border: 1px solid maroon;
    border-radius: 5px;
    background-color: whitesmoke
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border: 10px black;
    border-radius: 30px;
    margin-top: 25px;
}

th, td {
    border: 2px solid grey;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 8px 25px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color:blue;
}